/* Обнуляющие стили */
* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

/*  */
@font-face {
	font-family: "GilroyRegular";
	src: url("../fonts/Gilroy-Regular.ttf");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "GilroyMedium";
	src: url("../fonts/Gilroy-Medium.ttf");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "GilroyBold";
	src: url("../fonts/Gilroy-Bold.ttf");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "GilroyExtraBold";
	src: url("../fonts/Gilroy-Extrabold.ttf");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Tavolga";
	src: url("../fonts/Tavolga_Free.ttf");
	font-weight: 400;
	font-style: normal;
}

body {
	font-family: "Tavolga", sans-serif;
}

/* Блок header */

.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 30px;
}

.header {
	position: fixed;
	width: 100%;
	z-index: 999;
	background-color: #eba8b1;
}

.header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 36px;
	padding-bottom: 36px;
}

.menu__list {
	display: flex;
	justify-content: space-between;
	list-style: none;
	width: 313px;
}

.menu__item {
	padding-bottom: 3px;
	border-bottom: 2px solid transparent;
}

.menu__item:hover {
	border-bottom: 2px solid #88142a;
	transition: all 0.3s linear;
}

.menu__link {
	font-size: 14px;
	font-family: GilroyMedium, sans-serif;
	color: #88142a;
	text-decoration: none;
	list-style: none;
}

.phone__number-active {
	font-size: 16px;
	font-family: GilroyBold, sans-serif;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}

/* Блок Main */

.main {
	background-color: #eba8b1;
	padding: 237px 0 145px;
}

/* Анимация  */

.main__image {
	position: relative;
	z-index: 1;
}

.main__image::after,
.main__image::before {
	content: "";
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	z-index: -1;
	top: calc(50% - 100px);
	left: calc(50% - 100px);
}
.main__image::before {
	animation: pulse 3s infinite;
}
.main__image::after {
	animation: pulse 3s 0.5s infinite;
}
@keyframes pulse {
	0% {
		transform: scale(1);
		border: 1px solid #821328;
	}

	100% {
		transform: scale(3);
		border: 1px solid #82132700;
	}
}

/*  */

.main__info {
	max-width: 580px;
}
.headline {
	font-size: 55px;
	color: #fff;
	line-height: 1.2;
	margin-bottom: 60px;
}

.product-description {
	font-size: 18px;
	color: #fff;
	line-height: 1.4;
	max-width: 349px;
	margin-bottom: 80px;
}

.selection-button {
	width: 295px;
	height: 60px;
	font-size: 18px;
	font-family: GilroyBold, sans-serif;
	color: #fff;
	font-weight: bold;
	border-radius: 30px;
	cursor: pointer;
	background-color: #b13045;
}

.selection-button:hover {
	box-shadow: 0px 5px 9px 1px #82132880;
	transition: 0.3s;
}

.main__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Блок about */

.about {
	padding: 119px 0 83px;
	background-color: #ffefef;
}

.subtitle {
	font-size: 45px;
	line-height: 1.2;
}

.subtitle-about {
	color: #331907;
	margin-bottom: 60px;
	max-width: 475px;
}

.about-description {
	font-size: 18px;
	font-family: GilroyRegular, sans-serif;
	color: #331907;
	line-height: 1.4;
	max-width: 401px;
}

.product__about {
	display: flex;
	justify-content: space-between;
	align-items: self-end;
	margin-bottom: 88px;
}

.about__features {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 87px;
}

.features-item {
	border-radius: 50%;
	background-color: #821328;
	width: 70px;
	height: 70px;
	position: relative;
	cursor: pointer;
	margin-bottom: 13px;
}

.features-item:hover {
	background: #eba8b1;
}

.features-item:hover .features-number {
	color: #821328;
}

.features-number {
	position: absolute;
	font-size: 60px;
	font-family: GilroyExtraBold, sans-serif;
	color: #fff;
	top: 14px;
	left: 19px;
}

.features-title {
	font-size: 20px;
	color: #331907;
	font-family: GilroyExtraBold, sans-serif;
	margin-bottom: 20px;
}

.features-text {
	font-size: 15px;
	font-family: GilroyRegular, sans-serif;
	color: #331907;
	line-height: 1.333;
}

/* Блок preview */

.preview {
	background-color: #eba8b1;
	padding-top: 120px;
	padding-bottom: 120px;
}

.preview-item {
	border: 2px solid #f1efef;
	border-radius: 20px;
	padding: 109px 21px 27px 20px;
	position: relative;
}

.preview-image {
	position: absolute;
	top: -60px;
	left: calc(50% - 95px);
}

.preview-image-img {
	transition: all 0.5s ease;
}

.preview-image-img:hover {
	transform: scale(1.1);
	transition: all 0.8s linear;
}

.subtitle-preview {
	color: #fff;
	text-align: center;
	margin-bottom: 143px;
}

.preview-items {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 29px;
}

.preview-title {
	font-size: 18px;
	color: #fff;
	text-align: center;
	padding-bottom: 26px;
}

.preview-action {
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.action-total {
	color: #fff;
	font-size: 15px;
	font-family: GilroyRegular, sans-serif;
	text-align: left;
}

.action-quantity {
	margin-bottom: 16px;
}

.preview-button {
	font-size: 16px;
	color: #fff;
	font-family: GilroyBold, sans-serif;
	font-weight: bold;
	border-radius: 30px;
	cursor: pointer;
	background-color: #b13045;
	width: 130px;
	height: 50px;
}

.preview-button:hover {
	box-shadow: 0px 5px 9px 1px #82132880;
	transition: 0.3s;
}

/* Блок order */

.order {
	background-color: #ffefef;
	padding: 98px 0 120px 0;
}

.order-registration {
	display: flex;
	align-items: center;
	position: relative;
	padding: 0 45px;
}

.order-form {
	max-width: 406px;
	margin-left: 162px;
}
.subtitle-order {
	margin-bottom: 41px;
}
.order-desc {
	font-size: 18px;
	font-family: GilroyRegular, sans-serif;
	color: #331907;
	line-height: 1.5;
	padding-bottom: 23px;
}

.order-caption {
	font-size: 18px;
	font-family: GilroyBold, sans-serif;
	color: #120a06;
	font-weight: bold;
	margin-top: 25px;
	margin-bottom: 20px;
}

.order__input-text {
	font-size: 15px;
	font-family: GilroyBold, sans-serif;
	font-weight: bold;
	color: #760c22;
	border: 1px solid #821328;
	background-color: transparent;
	width: 293px;
	height: 60px;
	outline: 0;
	border-radius: 30px;
	padding: 0 26px;
	margin-bottom: 15px;
}

.order__input-text::placeholder {
	color: #760c22;
}

.order__strawberry-left__images {
	position: absolute;
	top: 70px;
	left: -30px;
	animation: strawberry-anim 3s infinite;
}

.order__strawberry-right__images {
	animation: strawberry-anim 3s infinite;
	position: absolute;
	bottom: 65px;
	right: 140px;
}

@keyframes strawberry-anim {
	0%,
	100% {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(0, -30%);
	}
}

/* Блок footer */

.footer {
	background-color: #c0707c;
	padding-top: 73px;
	padding-bottom: 62px;
}

.footer__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-copyright {
	font-size: 12px;
	font-family: GilroyRegular, sans-serif;
	color: #e3acb4;
	margin-top: 19px;
}
.footer-copyright__mobile {
	display: none;
	font-size: 12px;
	font-family: GilroyRegular, sans-serif;
	color: #e3acb4;
}

.footer-social {
	text-align: center;
}
.footer-social-img {
	width: 47px;
	height: 47px;
}

.footer-social-text {
	font-size: 16px;
	font-family: GilroyBold, sans-serif;
	color: #fff;
	font-weight: bold;
	margin-top: 10px;
}

.footer-phone {
	font-size: 16px;
	font-family: GilroyBold, sans-serif;
	color: #fff;
	font-weight: bold;
}

/* Блок present */

.present {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	background: radial-gradient(#8b192e, #c33b50);
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.present:hover {
	box-shadow: 0px 0px 12.6px 2.4px #82132880;
}

.present-img {
	display: flex;
	align-items: center;
	justify-content: center;
}

.present-text {
	font-size: 15px;
	font-family: GilroyMedium, sans-serif;
	color: #770a1d;
	line-height: 1.3;
	position: absolute;
	right: 120px;
	width: 172px;
	height: 64px;
	box-sizing: border-box;
	padding: 13px 10px;
	background: #feefee;
	border: 2px solid #770a1d;
	border-radius: 10px;
	transition: all 1s;
	transform: translate(0, 200%);
	opacity: 0;
}

.present:hover .present-text {
	transform: translate(0, 0);
	opacity: 1;
}

.present-text::after,
.present-text::before {
	content: "";
	border: 15px solid transparent;
	top: 15px;
	position: absolute;
}
.present-text::before {
	border-left: 20px solid #770c1e;
	right: -35px;
	background-color: transparent;
}
.present-text::after {
	border-left: 20px solid #fae9e9;
	right: -32px;
}
/*  */
.header__burger {
	display: none;
}

.menu__close {
	display: none;
}
